# Build outputs
bin/
obj/
publish/

# IDE
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# .NET
*.nupkg
*.snupkg
project.lock.json
*.nuget.props
*.nuget.targets

# User settings
*.settings.json
settings.json

# Logs
*.log
